<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>
    <link rel="stylesheet" href="HomeStyles.css">
</head>
<body>
    <div class="container">
        <h1>Game Hub</h1>
        <p>Here you have two modalities to play</p>
        <div class="button-container">
            <a href="/pcgame" class="button">Versus PC</a>
            <a href="/room" class="button">Versus Human (online)</a>
        </div>
    </div>
</body>
</html>
